
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap'); /*took the first font I had away because once I took away the hyperlink edits(for which I googled(but I understand if that looks sketchy since we didn't learn it) how to edit because I didn't like how clunky it looks)....it became useless. I choose Ubuntu as a font because it is my favorite Linux distro and the font looked cool...NOT BECAUSE I TOOK IT FROM ANOTHER REPO*/

/*tried to import fonts I liked front google because you mentioned it in class. There really was a bajillion to choose from and the process was literally as simple as embedding media and I will challenge anyone will tells me I didn't go pick these myself :D*/

header {
animation-name: slidein;
animation-duration: 4s;
animation-delay: 0ms;
animation-timing-function: ease-in-out; /*an option shown to us in class and TO ME...gives the most pleasing result*/
justify-content: space-between;
}

@keyframes slidein {
  0%{
    transform: translate3d(0, 0, 0);
  }                                   /*googled what option to use for this effect because I wanted to recreate one of the common effects you see on powerpoint(it was me who wrote that miro board comment about css being similar to powerpoint on friday :D)*/
  100%{
    transform: translate3d(1692px, 0, 0); /*google revealed each digit was the x, y and z axis. I played around a lot with this to get it how I want*/
    
}}

body {
  background-color: blueviolet;
}


h1 {
  font-size: 5px;
  animation-name: first;
  animation-duration: 4s;
  animation-delay: .5ms;
  
}

@keyframes first {
  0%   {opacity:0;}
  100% {opacity:1;}
}

h1:hover {
color: #0ff3e8;

}

h2 {
  margin-top: 1px;
  font-size: 2px;
  margin-bottom: 0.5px;
}

.firstgame{
display: grid;
float: left
}

.secondgame{
  display: grid;
  float: right;
}

#Single{
text-align: center;
font-size: xx-large;
}

#Multi{
text-align: center;
font-size: xx-large;
}

footer{ /*doesn't wanna stick on the bottom. I tried to compensate on my first trainwreck submit by making the images super big but...that seems like just a stopgap*/
  display: flex;
  justify-content: center;
  align-self: auto;
  font-family: 'Kirang Haerang', cursive;
  font-size: x-large;
  background-color: #0ff3e8;
  border-style: dotted;
}

nav{
  display: flex;
  justify-content: space-between;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;  
  background-color: #0ff3e8;
  color: black;
}


#title {
  display: flex;
  justify-content: center;
  font-size: xxx-large;
  background-color: #0ff3e8;
}

.firstgame {
  height: 500px;
  width: 500px;
}

.secondgame {
  height: 500px;
  width: 500px;
}


.board{
  display: grid;
  grid-template-columns: auto auto auto; /*I saw auto as an option immediately for this and many other CSS options we have learned about. I experimented with different sizes but this looked consistently the best. I expect on the otherhand it may have to do with the difficulties with centering*/
  height: 600px;
  width: 600px;
  background-color: #0ff3e8;
  justify-content: center;
  align-items: center; /*doesn't seem to help it but I think I'm on the right track*/
}
.spot{ /*each "spot" where the eventual X's and O's will go*/
  background-color: beige;
  border-style: solid;
  border-color: black;
  height: 200px;
  width:200px
}


